{% extends "layout.html" %}
{% block content %}

<div>
    <h3>Borough and Date</h3>
    <p>Choose a borough and a month in the drop downs.</p>
        <form class="form-inline" role="form" method="POST">
            <div class="form-group">
                <label for="exampleFormControlSelect1"></label>
                <select name="dropdownborough" class="form-control" id="exampleFormControlSelect1">
                 <option></option>
                  <option>Barking and Dagenham</option>
                  <option>Barnet</option>
                  <option>Bexley</option>
                  <option>Brent</option>
                  <option>Bromley</option>
                  <option>Camden</option>
                  <option>City of London</option>
                  <option>Croydon</option>
                  <option>Ealing</option>
                  <option>Enfield</option>
                  <option>Greenwich</option>
                  <option>Hackney</option>
                  <option>Hammersmith and Fulham</option>
                  <option>Haringey</option>
                  <option>Harrow</option>
                  <option>Havering</option>
                  <option>Hillingdon</option>
                  <option>Hounslow</option>
                  <option>Islington</option>
                  <option>Kensington and Chelsea</option>
                  <option>Kingston upon Thames</option>
                  <option>Lambeth</option>
                  <option>Lewisham</option>
                  <option>Merton</option>
                  <option>Newham</option>
                  <option>Redbridge</option>
                  <option>Richmond upon Thames</option>
                  <option>Southwark</option>
                  <option>Sutton</option>
                  <option>Tower Hamlets</option>
                  <option>Waltham Forest</option>
                  <option>Wandsworth</option>
                  <option>Westminster</option>
                </select>
            </div>
            <div style="margin-left: 10px" class="form-group">
                <label for="exampleFormControlSelect2"></label>
                <select name="dropdowndate" class="form-control" id="exampleFormControlSelect2">
                    {% for date in dates %}
                  <option>{{ date }}</option>
                    {% endfor %}
                </select>
            </div>

            <button style="margin-left: 10px" type="submit" class="btn btn-primary" name="button">Find</button>
        </form>
</div>

{% if specificdate %}
    <h4 style="margin-top: 30px"> {{borough}} : {{specificdate}}</h4>
    <table class="table" style="margin-left:40px; width: 95%; margin-top: 0px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Category of Crime</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
           {% for row in crimedatemonths %}
            <tr class="table-active">
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>

{% else %}

    <table class="table" style="margin-left:40px; width: 95%; margin-top: 20px;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Category of Crime</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

{% endif %}

{% endblock %}
